mixin icon(file, params = {})
  -
    const { createTagClassNames, createStyle } = require("@utilities/pugComponents");
    const styles = createStyle('Icon');

    const { 
      id,
      className, 
      style, 
      attr,

      tag = 'svg', 
    } = params;

  case tag
    when 'svg'
      -
        const svg = require(`@icons/${file}`);
        const styleString = style ? `style="${style}"` : '';
        const output = svg.replace(`<svg`, `<svg class="${styles('element')}" ${styleString}`);

      != output

    when 'img'
      img.icon(
        class= [
          className,
          styles('element')
        ],
        style= style,
        src=`static/icons/${file}`
      )